@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Tasks";
    Layout = "/Views/_Layout.cshtml";
}
<h1>Tasks</h1>
<p>This is where we will furnish material to feed hangfire</p>